<h1>Edit Figure!</h1>

<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Figure Name</label>
  <br></br>
  <input type="text" placeholder="figure name" name=figure[name] id="figure_name" value="<%= @figure.name %>">
  <br></br>

  <label>Select Title(s):</label>
  <br></br>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"
      <% if @figure.titles.include?(title) %>
        checked
      <% end %>
    ><%= title.name %></input>
  <% end %>
  <br></br>

  <label>And/Or, Create a New Title:</label>
  <br></br>
  <input type="text" placeholder="title name" name="title[name]" id="new_title">
  <br></br>

  <label>Select Landmark(s):</label>
  <br></br>
    <% @landmarks.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"
        <% if @figure.landmarks.include?(landmark) %>
          checked
        <% end %>
      ><%= landmark.name %></input>
    <% end %>
  <br></br>

  <label>And/Or, Create a New Landmark:</label>
  <br></br>
  <input type="text" placeholder="landmark name" name="landmark[name]" id="new_landmark">
  <input type="text" placeholder="landmark year of completion" name="landmark[year_completed]" id="landmark_year">
  <br></br>

  <input type="submit" value="Edit Figure">
</form>

<br></br>
<a href="/figures">Click here to return to all figures</a>
